{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% import _self as self %}

{# When the edit variable is true, then show input fields, otherwise only text #}
{% macro writeEntryLine(label, value) %}
    <div class="row">
        <label for="member_entry_name" class="required col-sm-2 control-label">{{ label | trans }}</label>
        <div class="col-sm-10 form-control-static">{{ value | raw }}</div>
    </div> <!-- class="row" -->
{% endmacro %}

{% macro writeFormLine(label, formField) %}
    <div class="row">
        <label for="member_entry_name" class="required col-sm-2 control-label">{{ label | trans }}</label>
        <div class="col-sm-10 form-control-static">{{ form_widget(formField) }}{{ form_errors(formField) }}</div>
    </div> <!-- class="row" -->
{% endmacro %}

{% macro writeGroupMembers(member, groupMembersForm, possibleMembers) %}
    {% import _self as self %}
    <div class="row">
        <label for="member_entry_name" class="required col-sm-2 control-label">{% trans %}Membership group members{% endtrans %}</label>
        <div class="col-sm-10 form-control-static">
            {% if groupMembersForm %}
                <table class="table table-striped">
                    <thead><tr><th></th><th>{% trans %}First name{% endtrans %}</th><th>{% trans %}Last name{% endtrans %}</th><th>{% trans %}membership type{% endtrans %}</th></tr></thead>
                    <tbody class="js-group-member-block">
                    {% for groupMember in groupMembersForm %}
                        {% for member in possibleMembers %}
                            {% if member.id == groupMember.vars.value %}
                                <tr><td>{{ form_widget(groupMember, { 'label': false, 'attr': {'class': 'js_group_member'}}) }}</td>
                                    <td>{{ member.firstName }}</td>
                                    <td>{{ member.name }}</td>
                                    <td>{{ member.membershipType }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% else%}
                        {% do groupMembersForm.setRendered %}
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {% if member.groupMembers | length %}
                    <table class="table table-striped">
                        <thead><tr><th>{% trans %}First name{% endtrans %}</th><th>{% trans %}Last name{% endtrans %}</th><th>{% trans %}membership type{% endtrans %}</th></tr></thead>
                        <tbody>
                        {% for groupMember in member.groupMembers %}
                            <tr><td>{{ groupMember.firstName }}</td><td>{{ groupMember.name }}</td><td>{{ groupMember.membershipType }}</td></tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    -
                {% endif %}
            {% endif %}
        </div>
    </div> <!-- class="row" -->
{% endmacro %}

{% macro writeCommitteeFunctions(committees, maxNumberOfFunctions, committeeFunctionMapForms) %}
    <div class="row">
        <label for="member_entry_name" class="required col-sm-2 control-label">{% trans %}Committee memberships{% endtrans %}</label>
        <div class="col-sm-10 form-control-static">
            {% if committees | length %}
                <table class="table table-striped" id="committee_table">
                    {# +1 because the column loop 0..remaining loops at least once, even when remaining is 0 #}
                    <thead><tr><th>{% trans %}Committee{% endtrans %}</th><th colspan="{{ maxNumberOfFunctions }}">{% trans %}Function{% endtrans %}</th></tr></thead>
                    <tbody>
                    {%  if committeeFunctionMapForms -%}
                        {%- for committeeName, functions in committees -%}
                            {% set found = 0 %}
                            <tr><td>{{ committeeName }}</td>
                                    {%- for function in functions -%}
                                        {%- for committeeFunctionMapForm in committeeFunctionMapForms -%}
                                            {%- if committeeFunctionMapForm.vars.value == function -%}
                                                {% set found = found + 1 %}
                                                <td id="{{ committeeName|replace({' ':'-'}) }}_{{ committeeFunctionMapForm.vars.label|replace({' ':'-'}) }}">
                                                {{ form_label(committeeFunctionMapForm) }}{{ form_widget(committeeFunctionMapForm) }}
                                                </td>
                                            {%-  endif -%}
                                        {% endfor %}
                                    {% endfor %}
                                {% set remaining = maxNumberOfFunctions - found %}
                                {% for i in 0..remaining %}
                                <td></td>
                                {% endfor %}
                                </tr>
                        {% endfor %}
                    {% else %}
                        {%- for committeeName, functions in committees -%}
                            <tr><td>{{ committeeName }}</td>
                            {%- for function in functions -%}
                                <td>{{ function }}</td>
                            {%- endfor -%}
                            {# +additional <td></td> because the column loop 0..remaining loops at least once, even when remaining is 0 #}
                            {%- set remaining = maxNumberOfFunctions - functions|length -%}
                            {%- if remaining -%}
                                {%- for i in 0..remaining - 1 -%}
                                    <td></td>
                                {%- endfor -%}
                            {%- endif -%}
                            </tr>
                        {% endfor %}
                    {%- endif -%}
                    </tbody>
                </table>
            {% else %}
                none
            {% endif %}
        </div>
    </div> <!-- class="row" -->
{% endmacro %}

<div id="club_data">
    <div class="card mt-3">
        <h6 class="card-header text-dark">{% trans %}Club data{% endtrans %} &nbsp;
            {%- if edit == false and is_granted('ROLE_MANAGE_MEMBER_CLUB_SETTINGS') -%}
                <a href="#" id="open_club_data"><span class="far fa-edit text-dark" aria-hidden="true"></span></a>
            {%- endif -%}
        </h6>
        <div class="card-body">
            <div class="col-md-12 form-horizontal">
                {%- if edit == false -%}
                    {{ self.writeEntryLine('User name', member.Username) }}
                    {% if member.MembershipNumber is null %}
                        {{ self.writeEntryLine('Membership number', '-') }}
                        {{ self.writeEntryLine('use direct debit', '-') }}
                    {% else %}
                        {{ self.writeEntryLine('Membership number', member.MembershipNumber) }}
                        {{ self.writeEntryLine('use direct debit', member.MembershipNumber.UseDirectDebit ? 'Yes' | trans : 'No' | trans ) }}
                    {% endif %}
                    {{ self.writeEntryLine('Member since', member.MemberSince|default('-')) }}
                    {{ self.writeEntryLine('Membership end requested', member.MembershipEndRequested ? 'Yes' | trans : 'No' | trans ) }}
                    {{ self.writeEntryLine('User status', member.Status.Status) }}
                    {{ self.writeEntryLine('membership type', member.MembershipType.Type) }}
                    {{ self.writeGroupMembers(member) }}
                    {{ self.writeEntryLine('User role', member.UserRole) }}
                    {{ self.writeCommitteeFunctions(committees, maxNumberOfFunctions) }}
                {% else %}
                    {{- form_start(form) -}}
                    {{ form_errors(form) }}
                    {{ self.writeEntryLine('User name', member.username) -}}
                    {% if member.MembershipNumber is null %}
                        {{ self.writeEntryLine('Membership number', '-') }}
                        {{ self.writeEntryLine('use direct debit', '-') }}
                        {% do form.membershipNumber.setRendered %}
                    {% else %}
                        {{ self.writeEntryLine('Membership number', member.membershipNumber) }}
                        {{ self.writeEntryLine('use direct debit', form_widget(form.membershipNumber, {'label': ' '})) }}
                    {% endif %}
                    {{ form_row(form.memberSince) }}
                    {{ self.writeEntryLine('Membership end requested', form_widget(form.membershipEndRequested, {'label': ' '})) }}
                    {{ form_row(form.status, {'label': 'User status'}) }}
                    {{ form_row(form.membershipType) }}
                    {{ self.writeGroupMembers(member, form.groupMembers, possibleMembers) }}
                    {{ form_row(form.userRole) }}
                    {{ self.writeCommitteeFunctions(committees, maxNumberOfFunctions, form.committeeFunctionMaps) }}
                    <button type="submit" class="btn btn-outline-secondary" id="save_club_data" formnovalidate>{% trans %}Save{% endtrans %}</button>
                    <button type="reset" class="btn btn-outline-secondary" id="reset_club_data">{% trans %}Cancel{% endtrans %}</button>
                    {{ form_end(form) }}
                {% endif %}
            </div>  <!-- class="col-md-12" -->
        </div>  <!-- class="panel-body" -->
    </div>  <!-- class="panel panel-default" -->
</div>  <!-- id="personal_data" -->

<script>
    $(function(){
        $('#open_club_data').on('click', function(e){
            e.preventDefault();
            return (doAjax('{{ path('member_edit_club_data', {'id': member.id})  }}', 'GET', '', '#club_data', false));
        });

    });

    $(function(){
        $('#reset_club_data').on('click', function(e){
            e.preventDefault();
            return (doAjax('{{ path('member_cancel_club_data', {'id': member.id})  }}', 'GET', '', '#club_data', false));
        });
    });

    $(function(){
        $('#save_club_data').on('click', function(e){
            var form_data = $(this).closest("form").serialize();
            e.preventDefault();
            return (doAjax('{{ path('member_edit_club_data', {'id': member.id})  }}', 'POST', form_data, '#club_data', true));
        });
    });
    {%- if edit -%}
    function updateSelection(selectId, memberShipTypes) {
        $('#member_entry_club_data_membershipType').children('option').remove();
        memberShipTypes.forEach(function (currentMembershipType) {
            $('#member_entry_club_data_membershipType').append($('<option>', {
                value: currentMembershipType.id,
                text: currentMembershipType.type,
                selected: (selectId === currentMembershipType.id) ? 'selected' : null,
            }));
        });
    }

    $(function(){
        var previousGroupMembers = $(".js_group_member:checked").length;

        $('.js_group_member').on('change', function(){
            var numberOfGroupMembers = $(".js_group_member:checked").length;
            var previousSelectedTypeId = parseInt($('#member_entry_club_data_membershipType').find(":selected").val());
            var allMembershipTypes = {{ allMembershipTypes|raw }};
            var groupMembershipTypes = {{ groupMembershipTypes|raw }};

            // When the last group member is removed, add all membership types. Select the previously selected type.
            if (0 === numberOfGroupMembers) {
                updateSelection(previousSelectedTypeId, allMembershipTypes);
            // When the first group member is added, remove all non-group membership types. When the previously selected
            // membership type is a group membership, keep it selected. Select the default group membership type
            // otherwise.
            } else if (1 === numberOfGroupMembers && 0 === previousGroupMembers) {
                // if the previously selected item is also in the new array, use that one. If not, use the default group
                // membership type.
                var selectId = groupMembershipTypes.find(type => type.id === previousSelectedTypeId);
                if (typeof selectId === 'undefined') {
                    selectId = groupMembershipTypes.find(type => type.isDefaultGroupMembershipType === true).id;
                } else {
                    selectId = selectId.id;
                }

                updateSelection(selectId, groupMembershipTypes);
            }
            previousGroupMembers = numberOfGroupMembers;
        })
    });
    {% endif %}

    $(document).ready(function() {
        var $block_group = $('.js-group-member-block');
        // This function is called when a group member delete button is clicked.
        $block_group.on('click', '.js-remove-group-member', function(e) {
            e.preventDefault();
            var $item = $(this).closest('.js-group-member-item');
            $(this).find('.fa-trash-alt')
                .removeClass('fa-trash-alt')
                .removeClass('far')
                .addClass('fas')
                .addClass('fa-spinner')
                .addClass('fa-spin');
            $item.fadeOut(300,function () {
                $(this).remove();
            });
        });
    });
</script>
