{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% import _self as self %}

{# When the edit variable is true, then show input fields, otherwise only text #}
{% macro writeEntryLine(label, value) %}
     <div class="row">
        <label for="member_entry_name" class="required col-sm-2 control-label">{{ label | trans }}</label>
        <div class="col-sm-10 form-control-static">{{ value | raw }}</div>
    </div> <!-- class="row" -->
{% endmacro %}

<div id="company_data">
    <div class="card mt-3">
        <h6 class="card-header text-dark">{% trans %}Company data{% endtrans %} &nbsp;
            {%- if edit == false -%}
                <a href="#" id="open_company_data"><span class="far fa-edit text-dark" aria-hidden="true"></span></a>
            {%- endif -%}
        </h6>
        <div class="card-body">
            <div class="col-md-12 form-horizontal">
                {% if member.CompanyInformation %}
                    {%- if edit == false -%}
                        {{ self.writeEntryLine('Company name', member.CompanyInformation.Name) }}
                        {{ self.writeEntryLine('Company location', member.CompanyInformation.City) }}
                        {{ self.writeEntryLine('Company description', member.CompanyInformation.Description) }}
                        {{ self.writeEntryLine('My function', member.CompanyInformation.FunctionDescription) }}
                        {{ self.writeEntryLine('URL', member.CompanyInformation.Url) }}
                    {% else %}
                        {{ form_start(form) }}
                        {{ self.writeEntryLine('Company name', form_widget(form.name)) }}
                        {{ self.writeEntryLine('Company location', form_widget(form.city)) }}
                        {{ self.writeEntryLine('Company description', form_widget(form.description)) }}
                        {{ self.writeEntryLine('My function', form_widget(form.functionDescription)) }}
                        {{ self.writeEntryLine('URL', form_widget(form.url)) }}
                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-outline-secondary" id="save_company_data">{% trans %}Save{% endtrans %}</button>
                        <button type="reset" class="btn btn-outline-secondary" id="reset_company_data">{% trans %}Cancel{% endtrans %}</button>
                        {{ form_end(form) }}
                    {% endif %}
                {% endif %}
            </div>  <!-- class="col-md-12" -->
        </div>  <!-- class="panel-body" -->
    </div>  <!-- class="panel panel-default" -->
</div>  <!-- id="personal_data" -->


<script>
    $(function(){
        $('#open_company_data').on('click', function(e){
            e.preventDefault();
            return (doAjax('{{ path('member_edit_company_data', {'id': member.id})  }}', 'GET', '', '#company_data', false));
        });

    });

    $(function(){
        $('#reset_company_data').on('click', function(e){
            e.preventDefault();
            return (doAjax('{{ path('member_cancel_company_data', {'id': member.id})  }}', 'GET', '', '#company_data', false));
        });
    });

    $(function(){
        $('#save_company_data').on('click', function(e){
            var form_data = $(this).closest("form").serialize();
            e.preventDefault();
            return (doAjax('{{ path('member_edit_company_data', {'id': member.id})  }}', 'POST', form_data, '#company_data', true));
        });
    });

</script>
