{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'layout.html.twig' %}
{% set dashboard_subpage = {'View and edit data' : ''} %}

{% block body %} 

{{ parent() }}

<div class="container-fluid">

{% set edit=false %}
<script>
    function doAjax(Url, Type, Data, ReturnLocation, ReloadLogs, disableAlert)
    {
        $.ajax({
                    type: Type,
                    url: Url,
                    data: Data
                })
                .done(function(data){
                    // show the response
                    if (ReloadLogs) {
                        doAjax('{{ path('member_show_logs', {'id': member.id})  }}', 'GET', '', '#log_entries', false, true)
                    }
                    $(ReturnLocation).html(data);
                })
                .fail(function() {
                    // just in case posting your form failed. This message appeared on and off when reloading the page,
                    // so it is disabled here.
                    if (!disableAlert) {
                        alert("Posting failed.");
                    }
                });

        // to prevent refreshing the whole page page
        return false;
    }
</script>
{% include 'Member/personal_data.html.twig' %}
{% include 'Member/contact_data.html.twig' %}
{% include 'Member/company_data.html.twig' %}
{% include 'Member/club_data.html.twig' %}
{% include 'Member/financial_data.html.twig' %}
{% include 'Member/log_entries.html.twig' %}


</div>  <!-- class=container -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/select2.min.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/select2.min.css') }}" rel="stylesheet" />
{% endblock %}

