{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'layout.html.twig' %}

{% set dashboard_subpage = {'Administration' : 'administration_homepage', 'Manage committees' : 'administration_manage_committees'} %}

{% block body %}

{{ parent() }}

<div class="container">
    <div class="container-fluid">
    {% for type in typeList %}
        {% set entityType = type.entity | lower %}
            <div class="card mt-3" id="{{ entityType }}_content">
            {% include 'Admin/list_content.html.twig' %}
            </div><!--  class=card -->
    {% endfor %}
    </div><!-- class=container-fluid -->

    {% set link_data = functions|length > 0 and committees|length > 0 %}

    {% if link_data %}
    <div class="card mt-3 mb-2" id="committee_function_link_content">
    {% include 'Admin/committee_function_link_content.html.twig' %}
    </div><!-- class=card -->
    {% endif %}
</div><!-- container -->

{% endblock %}{# body #}

{%  block javascripts %}
    {{ parent() }}

    <script>
        function doAjax(Url, Type, Data, ReturnLocation, ReloadLinks)
        {
            $.ajax({
                type: Type,
                url: Url,
                data: Data
            })
                .done(function(data){
                    if (ReloadLinks) {
                        doAjax('{{ path('administration_manage_committees', {'showOnlyContentTable': true})  }}', 'GET', '', '#committee_function_link_content', false)
                    }
                    // show the response
                    $(ReturnLocation).html(data);
                })
                .fail(function() {
                    // just in case posting your form failed
                    alert( "Posting failed." );
                });

            // to prevent refreshing the whole page page
            return false;
        }

    </script>
{% endblock %}{#javascript#}