{#
Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

This file is part of Vereniging.

Vereniging is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vereniging is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% macro writeCheckbox(committee, function, edit) %}
    {% apply spaceless %}
    {% set selected = false %}
    {# Search the map for the currently selected function. When found, set selected to true#}
    {% for committeeFunction in committee.committeeFunctionMaps %}
        {% if committeeFunction.committeeFunction == function %}
            {% set selected=true %}
        {% endif %}
    {% endfor %}

    {% if edit %}
    <input type="checkbox" id="committee_data_form_{{ committee.id }}_{{ function.id }}"
           name="committee_function_form[committee_{{ committee.id }}][]" value="{{ function.id }}" {% if selected %}checked="checked"{% endif %} />
    {% elseif selected %}
        <span class="fas fa-check"></span>
    {% endif %}
    {% endapply %}
{% endmacro %}

{% import _self as self %}

{% set link_data = functions|length > 0 and committees|length > 0 %}

{% if link_data %}
        <h6 class="card-header text-dark">{% trans %}Link between committees and functions{% endtrans %} &nbsp;
            {%- if edit == false -%}
                <a href="#" id="edit_committee_links"><span class="far fa-edit text-dark" aria-hidden="true"></span></a>
            {%- endif -%}
        </h6>
{% if edit %}
    <form name="committee_form" method="post" action="{{ path('administration_manage_committees_edit_links') }}">
{% endif %}
    <table style="width: auto; margin-left: auto; margin-right: auto;" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th rowspan="2" colspan="2"></th>
            <th colspan="{{ functions | length }}" style="text-align: center">{% trans %}Functions{% endtrans %}</th>
        </tr>
        <tr>
            {% for function in functions %}
                <th>{{ function }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for committee in committees %}
            <tr>
                {% if loop.index0 == 0 %}<th rowspan="{{ committees | length }}"><div class="rotate">{% trans %}Committees{% endtrans %}</div></th>{% endif %}
                <th>{{ committee }}</th>
                {% for function in functions %}
                    <td style="text-align: center">
                        {{ self.writeCheckbox(committee, function, edit) }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {%- if edit -%}
        <button type="submit" class="btn btn-outline-secondary" id="save_committee_link_data">{% trans %}Save{% endtrans %}</button>
        <button type="reset" class="btn btn-outline-secondary" id="reset_committee_link_data">{% trans %}Cancel{% endtrans %}</button>
    </form>
    {% endif %}
{% endif %}

    <script>
        $(function(){
            $('#edit_committee_links').on('click', function(e){
                e.preventDefault();
                return (doAjax('{{ path('administration_manage_committees_edit_links')  }}', 'GET', '', '#committee_function_link_content', false));
            });

        });

        $(function(){
            $('#reset_committee_link_data').on('click', function(e){
                e.preventDefault();
                return (doAjax('{{ path('administration_manage_committees', {'showOnlyContentTable': true})  }}', 'GET', '', '#committee_function_link_content', false));
            });
        });

        $(function(){
            $('#save_committee_link_data').on('click', function(e){
                var form_data = $(this).closest("form").serialize();
                e.preventDefault();
                return (doAjax('{{ path('administration_manage_committees_edit_links') }}', 'POST', form_data, '#committee_function_link_content', false));
            });
        });
    </script>
