{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'layout.html.twig' %}

{% set dashboard_subpage = {'Administration' : 'administration_homepage', 'Manage email templates' : 'administration_manage_email_templates'} %}

{% block body %}

{% import _self as self %}

{%- macro writeControlSymbols(template, numberOfTemplates) -%}
    <nobr>
    {%- if template.templateType == 'serial email' -%}
        {#- There must be at least one serial email template. So offer the delete button only when there is more than one #}
        {#- serial email template (i.e. when the number of templates is greater than 3) -#}
        {%- if numberOfTemplates > 3 -%}
           <a href="{{ path('administration_manage_email_templates_delete', {'id': template.id}) }}" class="btn btn-link btn-xs js-remove-template"><span class="far fa-trash-alt"></span></a>
        {%- endif -%}
        <a href="{{ path('administration_manage_email_templates_edit', {'id': template.id}) }}" class="btn btn-link btn-xs js-edit-template"><span class="far fa-edit"></span></a>
    {%- else -%}
        {%- if is_granted('ROLE_MANAGE_SYSTEM_EMAIL_TEMPLATES') -%}
           <a href="{{ path('administration_manage_email_templates_edit', {'id': template.id}) }}" class="btn btn-link btn-xs js-edit-template"><span class="far fa-edit"></span></a>
        {%- else -%}
            <span class="fas fa-lock"></span>
        {%- endif -%}
    {%- endif -%}
    </nobr>
{%- endmacro -%}

{{ parent() }}
<div class="container-fluid">
    <div class="card mt-3 mb-2" id="template_table">
        <h6 class="card-header text-dark">{% trans %}Email templates{% endtrans %}</h6>
        <div class="card-body">
            <div class="row js-template-list">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{% trans %}Type{% endtrans %}</th>
                            {% for locale in locales -%}
                                <th>{% trans %}Template name{% endtrans %} ({{ locale }})</th>
                            {% endfor -%}
                            {% for locale in locales -%}
                                <th>{% trans %}Sender address{% endtrans %} ({{ locale }})</th>
                            {% endfor -%}
                        </tr>
                    </thead>
                    <tbody>
                        {% for template in templates -%}
                            <tr class="js-template-item">
                                <td style="text-align: center">{{ self.writeControlSymbols(template, templates|length) }}</td>
                                <td>{{ template.templateType|trans }}</td>
                                {% for locale in locales -%}
                                    {# This is a bit more complicated, because it returns an empty value when there
                                        is no translation #}
                                    <td>{{ template.translate(locale, false).getTemplateNameTranslated }}</td>
                                {% endfor -%}
                                {% for locale in locales -%}
                                    {# This is a bit more complicated, because it returns an empty value when there
                                        is no translation #}
                                    <td>{{ template.translate(locale, false).getSenderAddressTranslated }}</td>
                                {% endfor -%}
                            </tr>
                        {% endfor -%}
                    </tbody>
                </table>
            </div><!-- class=row js-template-list -->
            <div class="row">
                <div class="col">
                    <a href="{{ path('administration_manage_email_templates_edit') }}" class="js-template-add"><span class="fas fa-plus-circle"></span> {% trans %}Add another serial email template{% endtrans %}</a>
                </div><!-- class=col -->
            </div><!-- class=row -->
        </div><!-- class=card-body -->
    </div><!-- class=card -->
    <div id="template_content">
    </div>
</div><!-- class=container -->


<script>
    $('.js-template-add').click(function(e) {
        e.preventDefault();

        let url = $(this).attr('href');
        $.ajax({url: url})
            .done(function(data){
                // Remove all editors bound to textareas
                // tinymce.remove('textarea');
                $('#template_content').html(data);
            })
            .fail(function() {
                // just in case posting your form failed
                alert( "Posting failed." );
            });
    });

    $('.js-template-list').on('click', '.js-edit-template', function(e) {
        e.preventDefault();

        let url = $(this).attr('href');
        $.ajax({url: url})
            .done(function(data){
                // Remove all editors bound to textareas
                // tinymce.remove('textarea');
                $('#template_content').html(data);
            })
            .fail(function() {
                // just in case posting your form failed
                alert( "Posting failed." );
            });
    });

</script>

{% endblock %}{# body #}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
{% endblock %}