{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'layout.html.twig' %}

{% set dashboard_subpage = {'Administration' : 'administration_homepage', 'Export to Excel' : 'administration_export_to_excel'} %}

{% block body %}

{{ parent() }}

<div class="container-fluid">
    {% set action = 'administration_export_to_excel_show' %}
    {% include 'extended_member_selection.html.twig' %}

    <div class="card mt-3 mb-2" id="member_table">
        {% include 'Admin/export_excel_file_download.html.twig' %}
    </div> <!-- member_table -->

</div><!-- container-fluid -->

{% endblock %}{# body #}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function(){
            $('#selection_form').click(function(){
                var form_data = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: form_data
                })
                    .done(function(data){

                        // show the response
                        $('#member_table').html(data);

                    })
                    .fail(function() {

                        // just in case posting your form failed
                        alert( "Posting failed." );

                    });
            });
        });
    </script>
{% endblock %}