{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'layout.html.twig' %}

{% set dashboard_subpage = {'Administration' : 'administration_homepage', 'Import from Excel' : 'administration_import_from_excel'} %}

{% block body %}

{{ parent() }}

<div class="container-fluid">
    <div class="card mt-3 mb-2">
        <h6 class="card-header text-dark">{% trans %}Select import file{% endtrans %}</h6>
        <div class="card-body">
            {% trans with {'url_import_file':  asset('import/default_import_file.xlsx') } %}Import explanation{% endtrans %}
            {{ form_start(form, {'attr': {'id': 'upload_form'}, 'action': path('administration_import_from_excel_check')}) }}
                <p>{% trans %}Select file{% endtrans %}:</p>
                <p>{{ form_widget(form.file) }}</p>
                <p><button type="submit" class="btn btn-outline-secondary">{% trans %}Upload and check{% endtrans %}</button></p>
            {{ form_end(form) }}
        </div><!--  class=card-body -->
    </div><!-- class=card -->

        <div class="card mt-3 mb-2" id="result">
            {% include 'Admin/import_from_excel_result.html.twig' %}
        </div> <!-- card -->
</div><!-- container-fluid -->

{% endblock %}{# body #}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function(){
            $('#upload_form').submit(function(e){
                e.preventDefault();
                var formData = new FormData(this);

                $.ajax({
                    processData: false,
                    contentType: false,
                    type: 'POST',
                    url: '{{ path('administration_import_from_excel_check')  }}',
                    data: formData
                })
                    .done(function(data){

                        // show the response
                        $('#result').html(data);

                    })
                    .fail(function() {

                        // just in case posting your form failed
                        alert( "Posting failed." );

                    });
            });
        });
    </script>

{% endblock %}