{#
Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

This file is part of Vereniging.

Vereniging is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vereniging is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% import _self as self %}

{#
 # Write the translated header value at the current position Header values can be in two different for factors:
 # value
 # value|locale
 #
 # The first one just has to be translated The second one has to be changed to value (%locale%) and then translated with
 # the locale parameter after the pipe symbol.
 #
 # @param string value Value to be translated
 #}
{% macro TranslateHeader(value) %}
    {%- if value != '_token' -%}
        {# When the value has the format "value|locale", then do special handling #}
        {%- set values = value|split('|') -%}
        {%- if 2 == values|length -%}
            {# iInsert the locale as translation variable #}
            {%- set value = values[0] ~ ' ({locale})' -%}
            {% set locale = values[1] -%}
            <th>{{ value | trans( {'locale': locale }) | first_letter_capital }}</th>
        {% else -%}
            <th>{{ value | trans | first_letter_capital }}</th>
        {% endif %}
    {% endif %}
{% endmacro %}




{# When the edit variable is true, then show input fields, otherwise only text #}
{% macro writeCell(formField, edit) %}
    {%- if edit -%}
        {{ form_row(formField) }}
    {%- else -%}
        {%- set widget_type = formField.vars.block_prefixes.1 -%}
        {%- if ('checkbox' == widget_type) -%}
            {%- if formField.vars.checked -%}<span class="fas fa-check"></span>{%- endif -%}
        {%- else -%}
            {{ formField.vars.value }}
        {%- endif -%}
    {%- endif -%}
{% endmacro %}

{%- macro writeListTypeRow(formRow, edit, rowCounter, entityType) -%}
    {%- import _self as self -%}
    <tr class="js-{{ entityType }}-item" id="{{ entityType }}_{{ rowCounter }}">
        <td style="text-align: center">
            {%- if formRow.vars.value is not null and formRow.vars.value.isInUse() -%}
                <span class="fas fa-lock"></span>
            {%- elseif edit -%}
                <a href="#" class="btn btn-link btn-xs pull-left js-remove-{{ entityType }}"><span class="far fa-trash-alt"></span></a>
            {%- endif -%}
            {% for field in formRow.children -%}
                <td>{{- self.writeCell(field, edit) -}}</td>
            {% endfor -%}
    </tr>
{% endmacro %}


    <h6 class="card-header text-dark">{{ type.caption | trans }} &nbsp;
        {%- if edit == false -%}
            <a href="{{ path(post_route, {'type': entityType})  }}" id="edit_{{ entityType }}"><span class="far fa-edit text-dark" aria-hidden="true"></span></a>
        {%- endif -%}
    </h6>
    <div class="card-body" id="{{ entityType }}_body">
    {%  if edit %}{{ form_start(type.form.members) }}{% endif %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            {% for header in type.headers -%}
                {{- self.TranslateHeader(header) -}}
            {%- endfor -%}
        </tr>
        </thead>
        <tbody class="js-{{ entityType }}-table" {% if edit -%}
            data-prototype="{{ self.writeListTypeRow(type.form.members.vars.prototype, edit, 100000, entityType)|e('html_attr') }}"
            data-index="{{ type.form.members | length }}" {% endif %}>
        {% for formRow in type.form.members -%}
            {{ self.writeListTypeRow(formRow, edit, loop.index0, entityType) }}
        {% endfor %}
        {% if edit %}
            <tr><td colspan="{{ 1 + type.headers | length }}"><a href="#" class="js-{{ entityType }}-add"><span class="fas fa-plus-circle"></span> {% trans %}Add another entry{% endtrans %}</a></td></tr>
        {% endif %}
        </tbody>
    </table>
    {%- if edit -%}
        <button type="submit" class="btn btn-outline-secondary" id="save_{{ entityType }}_data">{% trans %}Save{% endtrans %}</button>
        <button type="reset" class="btn btn-outline-secondary" id="reset_{{ entityType }}_data">{% trans %}Cancel{% endtrans %}</button>
        {{ form_end(type.form) }}
    {% endif %}
    </div><!-- class=card-body -->
<script>
    $(function(){
        $('#edit_{{ entityType }}').on('click', function(e){
            e.preventDefault();
            // Read the link target from the href attribute
            var linkTarget = $('#edit_{{ entityType }}').attr("href");

            return (doAjax(linkTarget, 'GET', '', '#{{ entityType }}_content', false));
        });
    });

    $(function(){
        $('#reset_{{ entityType }}_data').on('click', function(e){
            e.preventDefault();
            return (doAjax('{{ path(reset_route, {'entityType': entityType })  }}', 'GET', '', '#{{ entityType }}_content', false));
        });
    });

    $(function(){
        $('#save_{{ entityType }}_data').on('click', function(e){
            var form_data = $(this).closest("form").serialize();
            e.preventDefault();
            return (doAjax('{{ path(post_route, {'type': entityType }) }}', 'POST', form_data, '#{{ entityType }}_content', true));
        });
    });

    $(document).ready(function() {
        var $types_table = $('.js-{{ entityType }}-table');

        // This is called when one of the remove symbols in front of the mailing list rows is clicked. The row then
        // disappears
        $types_table.on('click', '.js-remove-{{ entityType }}', function(e) {
            e.preventDefault();
            // Replace delete symbol by a spinner
            $(this).find('.fa-trash-alt')
                .removeClass('fa-trash-alt')
                .removeClass('far')
                .addClass('fas')
                .addClass('fa-spinner')
                .addClass('fa-spin');
            // $item is the <tr> before the delete symbol
            var $item = $(this).closest('.js-{{ entityType }}-item');
            $item.fadeOut(300,function () {
                $(this).remove();
            });
        });

        // This function is called when the mailing list add button is clicked. It generates an additional mailing list
        // form row.
        $types_table.on('click', '.js-{{ entityType }}-add', function(e) {
            e.preventDefault();
            // Get the data-prototype explained earlier
            var prototype = $types_table.data('prototype');

            // get the new index$block
            var index = $types_table.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $types_table.data('index', index + 1);

            $(this).closest('tr').before(newForm);
        });
    });

</script>