{#
Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

This file is part of Vereniging.

Vereniging is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vereniging is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

<h6 class="card-header text-dark">{% trans %}Entry list{% endtrans %}</h6>
<div class="card-body">
    <div id="flash_messages">
        {% include 'Admin/passwords_flash_messages.html.twig' %}
    </div>
    {% if members %}
        <table class="table table-striped js-member-list-table">
            <tr><th>{% trans %}Last name{% endtrans %}</th><th>{% trans %}First name{% endtrans %}</th>
                <th>{% trans %}Email{% endtrans %}</th><th>{% trans %}Password has been set{% endtrans %}</th>
                <th>{% trans %}Send or update password{% endtrans %}</th>
                <th>{% trans %}Revoke access{% endtrans %}</th></tr>
            {% for member in members%}
                <tr style="vertical-align: text-top">
                    <td>{{ member.Name }}</td><td>{{ member.firstName }}</td><td>{{ member.Email }}</td>
                    <td>{%  if member.password  %}<span class="fas fa-check"></span> {% endif %}</td>
                    <td>{% if member.email %}
                        <a href="{{ path("administration_manage_passwords_new_password", {"id" : member.id} ) }}" class="js-create-password">
                            <span class="btn btn-outline-secondary">
                                {% if member.password %}{% trans %}Send new password{% endtrans %}{% else %}{% trans %}Send password{% endtrans %}{% endif %}</span>&nbsp;
                            <span class="js_spinner"></span>
                        </a>{% endif %}
                    </td>
                    <td>{% if member.password and  app.user.id != member.id %}  {# Do not revoke password for the current user, to not cut off the branch we're sitting on #}
                        <a href="{{ path("administration_manage_passwords_revoke_password", {"id" : member.id} ) }}" class="js-create-password">
                            <span class="btn btn-outline-secondary">{% trans %}Revoke access{% endtrans %}</span>&nbsp;
                            <span class="js_spinner"></span>
                        </a>{% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        {% trans %}No member entries found{% endtrans %}
    {% endif %}

</div><!--  class=card-body -->

<script>
    $(document).ready(function() {
        $('a.js-create-password').click(function (event) {
            event.preventDefault();
            // Add a spinner directly after the button has been clicked.
            var selected = $(this).find('span.js_spinner');
            selected.html('<span class="fas fa-spinner fa-spin"></span>')
            // The spinner is faded out on first load, so it might have to be faded in
            .fadeTo(0,1);

            var url = $(this).attr('href');
            $.ajax({url: url})
                .done(function(data){
                    // show the response
                    $('#flash_messages').html(data);
                    // Remove the spinner and display a check symbol, which is faded out
                    selected
                        .html('<span class="fas fa-check"></span>')
                        .fadeOut(2000);

                })
                .fail(function() {
                    // just in case posting your form failed
                    alert( "Posting failed." );
                });
        });
    });
</script>
