{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'layout.html.twig' %}

{% set dashboard_subpage = {'Administration' : 'administration_homepage', 'Manage user rights' : 'administration_manage_user_rights'} %}

{% block body %}

    {{ parent() }}
    {% set action = 'administration_manage_user_rights_show' %}


    <div class="container-fluid">
        {% include 'extended_member_selection.html.twig' %}
        <div class="card mt-3 mb-2" id="member_table">
            {% include 'Admin/user_rights_member_table.html.twig' %}
        </div><!-- class=card -->
    </div><!-- container-fluid -->

{% endblock %}{# body #}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function(){
            $('#selection_form').change(function(){
                var form_data = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: form_data
                })
                    .done(function(data){

                        // show the response
                        $('#member_table').html(data);

                    })
                    .fail(function() {

                        // just in case posting your form failed
                        alert( "Posting failed." );

                    });
            });

        });

        $(document).ready(function () {
            var $form_item = $('#member_table');
            $form_item.on('change', '.js-memberform-item', function (e) {
                e.preventDefault();
                var current_node = $(this);
                var form_data = $(this).serialize();
                // Show a spinner which the ajax call is running
                current_node.closest('tr').find('span')
                    .html('<span class="fas fa-spinner fa-spin"></span>')
                    .fadeTo(0,1) // show faded out elements from last call
                ;

                $.ajax({
                    type: 'POST',
                    url: '{{ path('administration_manage_user_rights_update')  }}',
                    data: form_data
                })
                    .done(function(data){
                        // Remove the spinner and show a check symbol, which fades out.
                        current_node.closest('tr').find('span')
                            .html('<span class="fas fa-check"></span>')
                            .fadeOut(2000)
                        ;

                    })
                    .fail(function() {

                        // just in case posting your form failed
                        alert( "Posting failed." );

                    });

            })
        })
    </script>
{% endblock %}
