{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'layout.html.twig' %}
{% set dashboard_subpage = {'Manage finances' : 'dashboard_manage_finances', 'Edit membership fee transactions' : ''} %}

{% macro writeTransactionListRowForm(formRow, rowIndex) %}
    <tr class="js-transaction-item" id="transaction_{{ rowIndex }}">
        <td><a href="#" class="btn btn-link btn-xs pull-left js-remove-transaction"><span class="far fa-trash-alt"></span></a></td>
        <td>{{ form_row(formRow.amount) }}</td>
        <td>{{ form_row(formRow.createDate) }}</td>
        <td>{{ form_row(formRow.closeDate) }}</td>
    </tr>
{% endmacro %}

{% block body %}

{{ parent() }}

<div class="container-fluid">
    <div class="card mt-3 mb-2">
        <h6 class="card-header text-dark">{% trans %}Transactions for membership number{% endtrans %} {{ membershipNumber.membershipNumber }} ({{ userList }})</h6>
        <div class="card-body">
            {{ form_start(form, {'attr': {'id': 'transaction-form'}}) }}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>{% trans %}Amount{% endtrans %}</th>
                    <th>{% trans %}Opened{% endtrans %}</th>
                    <th>{% trans %}Closed{% endtrans %}</th>
                </tr>
                </thead>
                <tbody class="js-transaction-table"
                        data-prototype="{{ _self.writeTransactionListRowForm(form.members.vars.prototype)|e('html_attr') }}"
                        data-index="{{ form.members | length }}">
                {% for formRow in form.members %}
                    {{ _self.writeTransactionListRowForm(formRow, loop.index0) }}
                {% endfor %}
                <tr><td colspan="5"><a href="#" class="js-transaction-add"><span class="fas fa-plus-circle"></span> {% trans %}Add another transaction{% endtrans %}</a></td></tr>
                </tbody>
            </table>

            <button type="submit" class="btn btn-outline-secondary" id="save_transaction_data">{% trans %}Save{% endtrans %}</button>
            <a class="btn btn-outline-secondary" href="{{ path('dashboard_manage_finances') }}">{% trans %}Cancel{% endtrans %}</a>
            {{ form_end(form) }}
        </div><!-- card-body" -->
    </div><!-- class="card mt-3 mb-2" -->
</div><!-- class="container-fluid" -->

    <script>
    $(document).ready(function() {
        var $transaction_table = $('.js-transaction-table');

        // This is called when one of the remove symbols in front of the transaction rows is clicked. The row then
        // disappears
        $transaction_table.on('click', '.js-remove-transaction', function(e) {
            e.preventDefault();
            // Replace delete symbol by a spinner
            $(this).find('.fa-trash-alt')
                .removeClass('fa-trash-alt')
                .removeClass('far')
                .addClass('fas')
                .addClass('fa-spinner')
                .addClass('fa-spin');
            // $item is the <tr> before the delete symbol
            var $item = $(this).closest('.js-transaction-item');
            $item.fadeOut(300,function () {
                $(this).remove();
            });
        });

        // This function is called when the transaction add button is clicked. It generates an additional transaction
        // form row.
        $transaction_table.on('click', '.js-transaction-add', function(e) {
            e.preventDefault();
            // Get the data-prototype explained earlier
            var prototype = $transaction_table.data('prototype');

            // get the new index$block
            var index = $transaction_table.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $transaction_table.data('index', index + 1);

            $(this).closest('tr').before(newForm);
        });
    });

</script>
{% endblock %}

