{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'layout.html.twig' %}

{% block body %}

{{ parent() }}

{% macro writeEntry(route, icon, text, role, pathParams) %}
    {%- if is_granted(role) -%}
        <li class="dashboard"><a class="dashboard" href="{{ path(route, pathParams | default({})) }}"><i class="{{ icon }} fa-3x"></i><br/>{{ text | trans }}</a></li>
    {%- endif -%}
{% endmacro %}

{# TODO: this macro has to be deleted when all features are implemented #}
{% macro writeEntryDisabled(route, icon, text, role) %}
    {%- if is_granted(role) -%}
        <li class="dashboard"><span class="dashboard"><i class="{{ icon }} fa-3x"></i><br/>{{ text | trans }}</span></li>
    {%- endif -%}
{% endmacro %}

{% import _self as self %}

    <div class="container">
    <div class="card mt-2 mb-4">
        <h6 class="card-header">{% trans %}Information{% endtrans %}</h6>
        <div class="card-body">
            <ul class="dashboard">
                {{ self.writeEntry('member_data', "fas fa-user", "View and edit my data", "ROLE_EDIT_MY_DATA", {'userName': app.user.userName}) }}
                {{ self.writeEntry('dashboard_memberlist', "fas fa-list", "Member lists", "ROLE_VIEW_MEMBER_LISTS") }}
                {{ self.writeEntry('dashboard_club_structure', "fas fa-cogs", "Club structure", "ROLE_VIEW_CLUB_STRUCTURE") }}
                {{ self.writeEntryDisabled("", "far fa-building", "Company information", "ROLE_VIEW_COMPANY_INFORMATION") }}
            </ul>
        </div><!--  class=panel-body -->
    </div><!-- panel panel-default -->

{% if is_granted('ROLE_MEMBER_ADMINISTRATOR') %}
    <div class="card">
        <h6 class="card-header">{% trans %}Tools{% endtrans %}</h6>
        <div class="card-body">
            <ul class="dashboard">
                {{ self.writeEntry('select_serial_letter', "far fa-envelope", "Serial letters", "ROLE_CREATE_SERIAL_LETTERS") }}
                {{ self.writeEntry('dashboard_statistics', "far fa-chart-bar", "Statistics", "ROLE_VIEW_STATISTICS") }}
                {{ self.writeEntry('dashboard_logfile', "fas fa-list-alt", "Log file", "ROLE_VIEW_LOG_FILE") }}
                {{ self.writeEntry('create_new_member', "far fa-user", "Create new user", "ROLE_CREATE_NEW_MEMBERS") }}
                {{ self.writeEntry('dashboard_manage_finances', "fas fa-euro-sign", "Manage finances", "ROLE_MANAGE_FINANCES") }}
            </ul>
        </div><!--  class=panel-body -->
    </div><!-- panel panel-default -->
{% endif %}
</div>
{% endblock %}

