{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'layout.html.twig' %}
{% block title %} Select serial letter {% endblock %}
{% set dashboard_subpage = {'Select serial letter' : ''} %}

{% block body %} 

{{ parent() }}

<div class="container-fluid">
    <div class="card mt-3 mb-2">
        <div class="card-body">
            <div class="col-md-9 form-horizontal">
                <a href="{{ path('new_serial_letter') }}"><button class="btn btn-outline-secondary">{% trans %}New serial letter{% endtrans %}</button></a>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{% trans %}Title{% endtrans %}</th>
                        <th>{% trans %}Created on{% endtrans %}</th>
                        <th>{% trans %}Last changed on{% endtrans %}</th>
                        <th>{% trans %}Last changed by{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for letter in letters -%}
                        <tr>
                            {% set title = letter.title(app.request.locale) -%}
                            <td><a href="{{ path('edit_serial_letter', {'id': letter.id}) }}"><i class="far fa-edit"></i></a></td>
                            <td>{{ title |length > 100 ? title|slice(0, 100) ~ '…' : title }}</td>
                            <td>{{ letter.createDate|date('Y-m-d') }}</td>
                            <td>{{ letter.changeDate|date('Y-m-d') }}</td>
                            <td>{{ letter.lastUpdatedBy.completeName }}</td>
                        </tr>
                    {% endfor -%}
                    </tbody>
                </table>
            </div>
        </div> <!-- panel-body -->
    </div> <!-- panel -->
</div>  <!-- container -->
{% endblock %}

